              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li class="active"><a href="{% url 'url_listaProvisionados'%}" class="nav-link">Provisionados</a></li>
                  <li><a href="{% url 'url_listaFabricantes'%}" class="nav-link">Fabricantes</a></li>
                  <li><a href="{% url 'url_listaModeloOlts'%}" class="nav-link">ModeloOlts</a></li>
                  <li><a href="{% url 'url_listaOlts'%}" class="nav-link">Olts</a></li>
                  <li><a href="{% url 'url_listaCtos'%}" class="nav-link">Ctos</a></li>
                  <li><a href="{% url 'url_listaVlans'%}" class="nav-link">Vlans</a></li>
                  <li><a href="{% url 'admin:index'%}" class="nav-link" target="_blank">Adm</a></li>
                </ul>
              </nav>